/* font-family: 'Dosis', sans-serif;
font-family: 'Source Sans 3', sans-serif; */
.resBtn {
    outline: 2px solid white;
}

.navDeco {
    background-color: #000324;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    font-family: 'Dosis', sans-serif;
}

.navDeco a {
    color: #fff;
    font-size: 20px;
}

.navDeco img {
    padding-bottom: 5px;
}

.hero-image {
    background-image: url(../Assets/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.hero-text {
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: #000324;
    opacity: .8;
    padding: 60px 240px;
    font-family: 'Dosis', sans-serif;
}

.hero-text h1 {
    font-size: 45px;
    font-weight: 300;
}

.hero-text p {
    font-size: 16px;
}

.welcome {
    padding-top: 100px;
    padding-bottom: 100px;
}

.welcome-img {
    width: 390px;
    height: 400px;
    object-fit: none;
}

.welcome h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 31px;
}

.welcome p {
    margin-top: 20px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
}

.cert-pad {
    width: 80%;
}

.Rooms {
    background-image: url(../Assets/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 738px;
}

.roomTitle {
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.size-img {
    width: 50%;
}

.centerRooms {
    display: flex;
    flex-direction: row;
}
.roomCardSects {
    position: absolute;
    top: 0;
}

.btnRadius {
    border-radius: 0;
}

.btnStyle {
    margin-top: 50px;
}
.card-footer{
    background-color: white;
    border: none;
}
.cardStyle {
    width: 25rem;
    margin-right: 20px;
}

.card-title {
    font-family: 'Dosis', sans-serif;
}

.card-text li {
    font-family: 'Source Sans 3', sans-serif;
}



.packages {
    margin-bottom: 95px;
}

.packageImg {
    object-fit: cover;
    height: 100%;
    aspect-ratio: 20/9;
}

.packages h1 {
    margin-top: 106.5px;
    display: flex;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
}

.centerCards {
    display: flex;
    flex-direction: column;
    border: 0;
    align-items: center;
    padding-top: 0;
}

.PKGTXT {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
}

.funky-order-card {
    order: 1;
}

.amenitiesContainer {
    background-image: url(/Assets/bg.jpg);
    height: 548px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.amenitiesHeader {
    padding-top: 30px;
    font-size: 35px;
    font-family: 'Dosis', sans-serif;
}

.center-amenities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amenitiesImgs {
    max-width: 150px;
    max-height: 115px;
}

.amenities p {
    margin-top: 20px;
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    color: #fff;
}

.amenities {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;

}

.amenitiesHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.valet {
    max-width: 90px;
}

.centerReserve {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.reserve {
    background-color: #000324;
    color: #fff;
    border-radius: 0;

}

.reserveTitle {
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Dosis', sans-serif;
    line-height: 0;
    font-weight: 300;
}

.reserveOpts {
    margin-top: 40px;
    margin-bottom: 20px;
}

.reserveOpts p {
    margin-bottom: -2px;
    font-size: 16px;
    font-family: 'Source Sans 3', sans-serif;
}

.checkAvailBtn {
    border-style: none;
    background-color: #006EDB;
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.sizeInputs {
    max-width: 175px;
    min-height: 20px;
}

.footer {
    background-color: #000324;
    color: #E5FEFF;
    justify-content: center;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
}

.borderFix {
    border-collapse: collapse;
    margin-bottom: 0px;
}

.spacing {
    padding-top: 20px;
    line-height: 20px;
    font-size: 16;
    padding-bottom: 80px;
}

.imgSpace {
    margin-bottom: 20px;
}



@media only screen and (max-width: 1260px) {
    .cardStyle {
        width: 15rem;
        font-size: 12px;
        text-align: left;
    }

    .KingBtn {
        margin-top: 67px;
    }
}



@media only screen and (max-width: 920px){
    .amenitiesSubtitle {
        padding-left: 10px;
        justify-content: center;
        font-size: 11px;
    }

}

@media only screen and (max-width: 770px) {
    .cardStyle {
        width: 13rem;
        height: 26rem;
        font-size: 11px;
    }

    .cardTxtStyle {
        font-size: 10px;
    }

    .special-guy-btn {
        margin-top: 50px;

    }

    .hero-text {
        padding: 60px 100px;
    }
    .packageStyle {
            width: 400px;
    }
    .funky-order-card {
        order: 0;
    }
    .amenitiesImgs {
        max-width: 120px;
        max-height: 100px;
    }
}



@media only screen and (max-width: 680px) {
    .hero-text {
        padding: 60px 20px;
    }

    .navDeco a {
        color: #fff;
        font-size: 10px;

    }
    .navDeco img {
        padding-bottom: 0px;
        
    }
    .center-small{
        display: flex;
        justify-content: center;
    }

    .hero-text h1 {
        font-size: 30px;
        font-weight: 300;
    }

    .hero-text p {
        font-size: 17px;
    }

    .cardStyle {
        width: 7rem;
        
        font-size: 8px;
    }
    .cardTxtStyle {
        font-size: 9px;
    }
    .special-guy-btn {
        margin-top: 5px;

    }
    .logo-resize {
        width: 70%;
   
    }
    
}

